
@{
    ViewBag.Title = "Index";
}

<h2>Agenda teléfonica</h2>
<p>Agenda teléfonica en la que podrás registrar contactos con N numeros de teléfonos.</p>
<p>También los podas agrupar en "Grupos" para ubicarlos de forma más rápida.</p>



